.cuadradoContainer {
  display: flex;
  width: 86%;
  left: 7%;
  position: absolute;
  bottom: -10%;
  background-color: transparent;
  .cuadrado {
    text-align: center;
    height: 240px;
    background-color: transparent;
    position: relative;
    width: 100%;

    .desenfocado {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgb(0 0 0 / 4%);
      filter: blur(4px);
      top: 0;
      left: 0;
      z-index: 1;
    }
    .imgSvg {
      width: 50px;
      height: 50px;
      background-color: transparent;
      padding-top: 1rem;
    }

    .titleCuadrado,
    .textoCuadrado {
      background-color: transparent;
      padding: 0.8rem;
    }

    .textoCuadrado {
      width: 64%;
      margin: 0 auto;
      padding-top: 0.3rem;
    }

    &.dos {
      background-color: #b1eb1e;

      .titleCuadrado {
        color: black;
      }
      .textoCuadrado {
        color: black;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .cuadradoContainer {
    width: 92%;
    left: 4%;

    .cuadrado {
      height: 192px;

      .imgSvg {
        padding: 0.5rem;
      }

      .titleCuadrado {
        padding: 0;
      }

      .textoCuadrado {
        width: 90%;
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .cuadradoContainer {
    bottom: -21%;
  }
}

@media screen and (max-width: 1170px) {
  .cuadradoContainer .cuadrado {
    .imgSvg {
      padding: 0.5rem 0 0 0;
    }

    .textoCuadrado {
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 1020px) {
  .cuadradoContainer {
    bottom: -30%;
  }
}

@media screen and (max-width: 970px) {
  .cuadradoContainer {
    width: 100%;
    left: 0%;
  }
}

@media screen and (max-width: 970px) {
  .cuadradoContainer .cuadrado {
    height: 210px;
  }
}
