.acceso {
  width: 1200px;
  margin: 0 auto;
  margin-top: 12.5rem;

  .titleAcceso {
    text-align: center;
    font-size: 2.3rem;
  }

  .pAcceso {
    text-align: center;
    color: #b5b5b5;
  }

  .cuadrados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    row-gap: 13px;
    justify-items: center;
  }
}

.pasos {
  margin-top: 5rem;
  text-align: center;
  position: relative;

  .titlePasos {
    font-size: 2.3rem;
  }

  .texPasos {
    color: #b5b5b5;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin-top: 2.5rem;

    .cuadradoPasos {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #b1eb1e;
      height: 10rem;
      width: 300px;
      padding: 0 1px;

      .texto {
        background-color: transparent;
        color: black;
        font-weight: 600;
        width: 82%;
      }
    }
  }

  .barra {
    height: 2px;
    border: none;
    position: absolute;
    bottom: -7%;
    z-index: 1;
    width: 100%;
    background: linear-gradient(
      to right,
      rgba(117, 88, 88, 0.178) 0%,
      rgba(117, 88, 88, 0.178) 20%,
      #c8ff00 50%,
      rgba(117, 88, 88, 0.178) 80%,
      rgba(117, 88, 88, 0.178) 100%
    );
  }
}
