.slider {
  display: flex;
  overflow: hidden;
  margin: 1.5rem 0 2rem 0;

  .slideContainer {
    display: flex;
    animation: scroll 55s linear infinite;
    -webkit-animation: scroll 55s linear infinite;
    width: calc(315px * 16);
    animation-play-state: running;
    margin-top: 2rem;

    .slide {
      background-color: rgba(117, 88, 88, 0.178);
      height: 160px;
      width: 315px;
      margin-right: 1rem;
      border-radius: 4px;
      overflow: hidden;

      .containerImg {
        background-color: transparent;
        display: flex;
        padding: 1rem;
        img {
          width: 39px;
          height: 39px;
          border-radius: 50%;
        }

        .info {
          background-color: transparent;
          padding-left: 0.5rem;

          .name {
            background-color: transparent;
          }

          .usuario {
            background-color: transparent;
            font-size: small;
          }
        }
      }

      .textoReco {
        background-color: transparent;
        padding-left: 1rem;
        width: 80%;
      }
    }

    &:hover {
      cursor: pointer;
      animation-play-state: paused;
      -webkit-animation-play-state: paused;
    }
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-315px * 8));
    transform: translateX(calc(-315px * 8));
  }
}
