.entrenador {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  position: relative;
  .presentacion {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .titleProfe {
      font-size: 2rem;
      text-align: center;
    }

    .textoProfe {
      margin-top: 0.8rem;
    }
  }

  .imgEntrenador {
    width: 439px;
    height: auto;
    mask-image: linear-gradient(rgb(0, 0, 0) 50%, transparent);
  }

  .barra {
    bottom: -3%;
  }
}
