* {
  background-color: rgb(17, 17, 17);
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

body {
  width: 1200px;
  margin: 0 auto;
}

p,
h4,
strong,
li,
ul {
  background-color: transparent;
}
