.preguntasContainer {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .titlePreguntas {
    text-align: center;
    .titleVerde {
      font-size: 2.9rem;
      color: #c8ff00;
    }
  }

  .ulPre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    list-style: none;

    .preg {
      background-color: rgba(66, 64, 64, 0.5215686275);
      width: 750px;
      height: 3.5rem;
      margin: 0.5rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 1.5rem;
      border-radius: 10px;
      box-shadow: -0.5px 1.5px 1px rgb(200 255 0 / 24%);
      cursor: pointer;
      font-size: 1.2rem;

      .flechaPreg {
        padding-right: 1rem;
        background-color: transparent;
      }

      &:hover {
        background-color: rgb(156 130 130 / 46%);
        box-shadow: -0.5px 1.5px 1px rgb(200 255 0 / 56%);
      }

      &.liAbierto {
        height: 5rem;
        align-items: baseline;
        padding-top: 1rem;
        position: relative;

        .textPreg {
          display: block;
          width: 68%;
          position: absolute;
          bottom: 11%;
          background: transparent;
          font-size: 1rem;
        }

        .flechaPreg {
          padding-left: 1rem;
          padding-right: 0;
          transform: rotate(180deg);
        }
      }
    }

    .textPreg {
      display: none;
    }
  }

  .comenzarAhora {
    margin-top: 1rem;
    border-radius: 4px;
    background-color: #b1eb1e;
    color: black;
    border: none;
    width: 10rem;
    height: 2.5rem;
    font-weight: 800;
    cursor: pointer;
    margin-bottom: 3rem;

    &:hover {
      background-color: #c8ff00;
    }
  }
}

@media screen and (max-width: 810px) {
  .preguntasContainer .ulPre .preg {
    width: 620px;
  }
}

@media screen and (max-width: 770px) {
  .preguntasContainer .ulPre .preg {
    width: 500px;

    &.liAbierto {
      height: 7rem;
      .textPreg {
        top: 49%;
        height: 7rem;
        bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 550px)  {  
  .preguntasContainer {
    .titlePreguntas {
      font-size: 1.2rem;

      .titleVerde {
        font-size: 2.3rem;
      }
    }

    .ulPre {
      .preg {
        width: 290px;
        font-size: 14px;
        padding-left: 0.5rem;
       
        &.liAbierto {
          .textPreg {
            width: 95%;
          }
        }
      }
    }
  }
}