.titleResul {
  margin-top: 5rem;
  font-size: 2rem;
  text-align: center;
}

.resultados {
  display: flex;
  flex-direction: column;
  align-items: center;

  .containerCarusel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .resul {
      margin-top: 1rem;
      padding: 0 0.5rem;
      border-radius: 5px;
      img {
        border-radius: 4px;
        width: 330px;
        height: 280px;
        mask-image: linear-gradient(rgb(0, 0, 0) 50%, transparent);
      }
    }

    .flecha {
      &.Izqui {
        padding-right: 1rem;
      }

      &.Dere {
        padding-left: 1rem;
      }

      &:hover {
        cursor: pointer;
        fill: #c8ff00;
      }
    }
  }

  .comenzarAhora {
    margin-top: 1rem;
    border-radius: 4px;
    background-color: #b1eb1e;
    color: black;
    border: none;
    width: 10rem;
    height: 2.5rem;
    font-weight: 800;
    cursor: pointer;

    &:hover {
      background-color: #c8ff00;
      color: rgb(0, 0, 0);
      transition: background-color 0.3s ease-in-out;
    }
  }
}

@media screen and (max-width: 1220px) {
  .resultados .containerCarusel .resul img {
    width: 270px;
    height: 260px;
  }
}

@media screen and (max-width: 970px) {
  .resultados .containerCarusel .resul img {
    width: 220px;
    height: 217px;
  }
}

@media screen and (max-width: 810px) {
  .resultados .containerCarusel .resul {
    img {
      width: 238px;
      height: 229px;
    }

    &.Tres {
      display: none;
    }
  }
}

@media screen and (max-width: 610px) {
  .resultados .containerCarusel .resul {
    &.Dos {
      display: none;
    }

    img {
      width: 275px;
      height: 265px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 430px)  { 
  .titleResul {
    font-size: 1.5rem;
  }
  .resultados {
    .containerCarusel {
      .resul {
        margin-top: 2rem;

        img {
          width: 192px;
          height: 184px;
        }
      }

      .flecha {
        &.Izqui {
          padding-right: 0.5rem;
          width: 20px;
          height: 20px;
        }

        &.Dere {
          padding-left: 0.5rem;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}